*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.tmp/
tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.iml
.idea
target/
build/
.gradle/

.mvn/
mvnw
mvnw.cmd
.DS_Store

node_modules/
bower_components/

npm-debug.log
